<nav class="container-nav-menu">
  <div class="nav-menu font-nav">
    <a routerLink="/" class="menu-item" id="home-item" (mouseout)="backPop()"
      >Home</a
    >
    <a
      routerLink="/about"
      class="menu-item"
      id="about-item"
      (mouseout)="backPop()"
      >Sobre</a
    >
    <a
      routerLink="/espec"
      class="menu-item"
      id="espec-item"
      (mouseout)="backPop()"
      >Especialização</a
    >
    <a
      routerLink="/gallery"
      class="menu-item"
      id="gallery-item"
      (mouseout)="backPop()"
      >Galeria</a
    >
    <a
      routerLink="/contact"
      class="menu-item"
      id="contact-item"
      (mouseout)="backPop()"
      >Contato</a
    >
  </div>
</nav>
