<div class="card-wrapper-about">
  <div class="image-wrapper">
    <img src="../../../../../assets/imgs/about-page/of-me-image.jpg" alt="" />
  </div>
  <div class="text-wrapper-about">
    <p>
      Donec sed urna in sem condimentum sodales et eu libero. Suspendisse
      scelerisque enim velit. Mauris purus felis, ultricies eget augue non,
      semper pulvinar risus. Phasellus vehicula sapien sed libero pulvinar, sit
      amet ullamcorper augue tempus. Proin ut purus vel augue cursus condimentum
      vitae feugiat mauris. Aliquam mollis, enim sit amet malesuada faucibus,
      justo nulla malesuada odio, vel feugiat ex dolor ut nunc. Suspendisse
      rutrum, tortor non dictum mollis, enim neque tempus nunc, sed semper mi
      justo sed risus. Vivamus tristique hendrerit mattis. Nunc condimentum et
      ipsum in ultricies.
    </p>
    <p>
      Donec sed urna in sem condimentum sodales et eu libero. Suspendisse
      scelerisque enim velit. Mauris purus felis, ultricies eget augue non,
      semper pulvinar risus. Phasellus vehicula sapien sed libero pulvinar, sit
      amet ullamcorper augue tempus. Proin ut purus vel augue cursus condimentum
      vitae feugiat mauris. Aliquam mollis, enim sit amet malesuada faucibus,
      justo nulla malesuada odio, vel feugiat ex dolor ut nunc. Suspendisse
      rutrum, tortor non dictum mollis, enim neque tempus nunc, sed semper mi
      justo sed risus. Vivamus tristique hendrerit mattis. Nunc condimentum et
      ipsum in ultricies.
    </p>
    <p>
      Donec sed urna in sem condimentum sodales et eu libero. Suspendisse
      scelerisque enim velit. Mauris purus felis, ultricies eget augue non,
      semper pulvinar risus. Phasellus vehicula sapien sed libero pulvinar, sit
      amet ullamcorper augue tempus. Proin ut purus vel augue cursus condimentum
      vitae feugiat mauris.
    </p>
  </div>
</div>
