<section class="container-espec-page">
  <div class="wrapper-text">
    <app-text-top-espec-page></app-text-top-espec-page>

    <div class="social-media-espec-page">
      <app-social-medias></app-social-medias>
    </div>
  </div>
  <div class="imagem-fixed-container-top"></div>
  <div class="wrapper-text">
    <app-text-middle-espec-page></app-text-middle-espec-page>
    <app-button-contact-me></app-button-contact-me>
  </div>
  <div class="imagem-fixed-container-middle"></div>
  <div class="wrapper-text">
    <app-text-footer-espec-page></app-text-footer-espec-page>
    <app-button-contact-me></app-button-contact-me>
  </div>
  <div class="imagem-fixed-container-footer"></div>
</section>
