<div class="container-card-images" id="thmb-right">
  <a routerLink="/gallery-volta-sto-amaro" class="card-link-left">
    <img
      src="../../../../../assets/imgs/home-page-thumb-images/thumb-campMasc-home-page.jpg"
      class="img-thumb-home-page-right"
      width="100%"
      alt=""
    />
    <div class="title-text-card-image">
      <h3>Brasileirão 2021<br />Santos x RB Bragantino</h3>
    </div>
    <div class="text-card-image">
      <p>
        Pellentesque habitant morbi tristique senectus et netus et malesuada
        fames ac turpis egestas. Vestibulum in convallis massa, eget ultricies
        magna
      </p>
    </div>
  </a>
</div>
