<div class="container-contato">
  <fieldset class="container-form">
    <legend class="font-nav">Contato</legend>
    <form (ngSubmit)="submit()" [formGroup]="contactForm" #formDir="ngForm">
      <input type="hidden" name="" formControlName="id" />
      <div class="input-wrapper">
        <label for="name">Nome:</label
        ><input
          type="text"
          name="name"
          id=""
          size="70"
          maxlength="50"
          placeholder="Nome Completo"
          formControlName="name"
          required
        />
      </div>
      <div class="input-wrapper">
        <label for="email">E-mail:</label
        ><input
          type="email"
          name="nEmail"
          id=""
          size="70"
          placeholder="seu_email@exemplo.com.br"
          formControlName="email"
          required
        />
      </div>
      <div class="input-wrapper">
        <label for="phone">Telefone:</label
        ><input
          type="tel"
          name="phone"
          id=""
          placeholder="(DDD)+(número)"
          formControlName="phone"
          required
        />
      </div>
      <div class="input-wrapper">
        <label for="date_event">Data do Evento:</label
        ><input
          type="date"
          name="dateevent"
          id=""
          placeholder="Data do eventão!"
          formControlName="dateevent"
          required
        />
      </div>

      <div class="input-wrapper">
        <label for="guests">Qnt de Pessoas:</label>
        <input type="number" name="guests" id="" formControlName="guests" />
      </div>
      <div class="input-wrapper">
        <label for="time">Horas de Evento:</label>
        <input type="number" name="time" id="" formControlName="time" />
      </div>
      <div class="input-wrapper-ambient">
        <div>
          <label for="ambient">Ambiente:</label>
        </div>
        <div class="wrapper-content-ambient">
          <div class="radio-text">
            <label class="local" for="ambientClosed">Fechado</label
            ><input
              class="label-input"
              type="radio"
              name="ambient"
              id="ambientClosed"
              placeholder=""
              formControlName="ambient"
              value="Descoberto"
            />
          </div>
          <div class="radio-text">
            <label class="local" for="ambientOpened">Coberto</label>
            <input
              class="label-input"
              type="radio"
              name="ambient"
              id="ambientOpened"
              value="Coberto"
              formControlName="ambient"
            />
          </div>
        </div>
      </div>
      <div class="input-wrapper">
        <label for="nObs">Observação:<br /></label>
        <textarea
          name="obs"
          id=""
          cols="74"
          rows="10"
          required
          placeholder="informações úteis sobre o evento..."
          formControlName="obs"
        ></textarea>
      </div>

      <div class="main">
        <input type="submit" class="button" value="Enviar" />
      </div>
    </form>
  </fieldset>
</div>
