<div class="container-icons-social-media font-nav">
  <a
    href="https://vsco.co/rcampos95/gallery"
    class="social-link"
    target="_blank"
    >Vsco<img
      class="social-icon"
      src="../../../../assets/imgs/social-media/vsco-icon.png"
      alt=""
  /></a>
  <a
    href="https://www.flickr.com/people/190029616@N05/"
    class="social-link"
    target="_blank"
    >Flickr<img
      src="../../../../assets/imgs/social-media/flickr-icon.png"
      class="social-icon"
      alt=""
  /></a>
  <a
    href="https://www.instagram.com/rcampos95/"
    class="social-link"
    target="_blank"
    >Instagram<img
      src="../../../../assets/imgs/social-media/instagram.icon.png"
      class="social-icon"
      alt=""
  /></a>
</div>
