<div class="container-card-text" id="cont-card">
  <div class="card-text">
    <div class="title-text-apresentation">
      <h1 class="h1-apresentation-component">REINALDO</h1>
      <h1 class="h1-apresentation-component">FOTOGRAFIAS,</h1>
      <h1 class="h1-apresentation-component">REGISTRANDO MOMENTOS!</h1>
    </div>
    <div class="text-apresentation">
      <p class="tagP-apresentation-component">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla tristique
        vulputate nulla, quis eleifend lorem pellentesque nec. Nulla elit orci,
        egestas non vulputate non, eleifend sit amet lectus. Cras augue risus,
        maximus nec orci et, aliquet porttitor ante. Suspendisse rutrum rutrum
        elit, a ultricies mauris ultricies sit amet. Vivamus porta eget sem et
        fermentum. Nullam neque eros, elementum sit amet dolor vitae, tempus
        tristique metus. Ut in ligula interdum, volutpat purus et, elementum
        ante. Orci varius natoque penatibus et magnis dis parturient montes,
        nascetur ridiculus mus. Integer vestibulum ultrices eros, in condimentum
        ante. Mauris porta justo ut dolor vestibulum malesuada. Nulla
        pellentesque urna lacinia eleifend malesuada.
      </p>
      <p class="tagP-apresentation-component">
        Proin non tincidunt arcu. Lorem ipsum dolor sit amet, consectetur
        adipiscing elit. Mauris tristique finibus magna ac sodales. Fusce dictum
        vitae tortor sit amet vehicula. Fusce fermentum sagittis massa eu
        feugiat. Vivamus molestie finibus luctus. Nunc quis vestibulum nulla, in
        aliquam metus. Maecenas at velit rutrum, pretium arcu at, luctus eros.
      </p>
    </div>
  </div>
</div>
